@model VolumeCalculation.Models.Model

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Calculation</title>
</head>
<body>
    <p>The entered Quantity=@Model.quantity gal</p>

    <p>The Quantity in Liter(l)=@Model.CalculateInLiters() l</p>
</body>


</html>
