@model VolumeConversion2.Models.Model

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Calculation</title>
</head>
<body>
    <p>The entered Quantity=@Model.quantity l</p>

    <p>The Quantity in Gallon =@Model.CalculateInGallon() Gal</p>
</body>


</html>
