@model KilogramConversion.Models.Model

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Calculation</title>
</head>
<body>
    <p>The entered Weight=@Model.weight Kg</p>

    <p>The weight in Pounds(Lb)=@Model.CalculatePound() Lb</p>
</body>


</html>
