@*
    Created by Nimmala
*@
@model NimmalaWeek2R.Models.HelloModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Nimmala week 2R</title>
    </head>
    <body>
        <h1>Nimmala Week 2R Home Page</h1>

        <form asp-controller = "Home" asp-action ="Index" method="post">

        <p>
            <label asp-for ="Name">Please enter the Name</label>
            <input asp-for = "Name" />
        </p>
        <p>
             <label asp-for ="Number">Please enter the Number</label>
            <input asp-for = "Number" />

        </p>
        <p>
            <button type="submit">submit</button>
        </p>
        </form>
    </body>
</html>

