@model CalculateBulkDensity.Models.Model

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Calculation</title>
</head>
<body>
    <p>The observed Mass=@Model.mass</p>
    <p>The observed Volume=@Model.volume</p>
    <p>Density=@Model.CalculateDensity()</p>
</body>


</html>

