@model TempPractise.Models.TemperatureModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Temp Conversion</title>
    </head>
    <body>
        <p>You entered @Model.Temperature</p>
        <p>The conversion Value is @Model.ConvertTemp()</p>


    </body>
</html>