@model WeightConversion.Models.UnitConversionModel

<!DOCTYPE html>
<html>
    <head>
        
            <meta charset="utf-8" />
            <title>Weight Conversion</title>

   </head>
   <body>
       <h1> Weight conversion</h1>
       <form asp-controller="Home"asp-action="weight"method="post">

           <p>
               <label asp-for="weight">Please enter Weight  </label>
               <input asp-for="weight" type="number" step="any" />

               <label asp-for="weightUnit">Convert Kilogram(kg) to Pounds(Lb)</label>
               <input asp-for="weightUnit" value="Kg2P" type="radio" />

               <label asp-for="weightUnit"class="1space">Convert Pounds(Lb) to Kilogram(Kg)</label>
               <input asp-for="weightUnit" value="P2Kg"type="radio" />

               <span asp-validation-for="weightUnit">  </span>
           </p>
           <p>
               <button type="submit">Submit</button>
           </p>
       </form>
    @*@{
        if (ViewBag.RoundTrip == "RoundTrip")
        {
            <p>@Html.Raw(Model.ConvertWeight())</p>
        }
    }*@

    </body>

</html>
