@model WeightConversion.Models.UnitConversionModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Weight Conversion</title>
    </head>
    <body> 
        <p>You entered @Model.Weight</p>
        <p>The conversion Value is @Model.ConvertWeight()</p>


    </body>
</html>
