@model PoundConversion.Models.Model

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Calculation</title>
</head>
<body>
    <p>The entered Weight=@Model.weight Lb</p>

    <p>The weight in Kilogram=@Model.CalculateKilogram() Kg</p>
</body>


</html>
