@model CalculateOccupancy.Models.Model
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Results </title>
    </head>
    <body>
        <p>The capacity of the equipment is @Model.capacity (l)</p>
        <p>The quantity of the material loaded is @Model.quantity (kg)</p>
        <p>The Occupancy of the equipment is @Model.CalculateOccupancy() %</p>
    </body>
 

</html>
