@*
    Created by Nimmala Naveen
*@
@model AreaPractise.Models.Model
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Calculation</title>
    </head>
    <body>
        <p>You entered the number @Model.number</p>
        <p> The  @Model.Getresult()</p>
    </body>
</html>
