@{
    ViewData["Title"] = "Home Page";
}

@*
    Created by Naveen Nimmala
    11 11 11 11 11 11 11 11 
*@

<h1>Welcome </h1>
<p>
    This is a full fledged ASP.NET MVC web application with all ingrediants as a precursor to the entity framework.
    
</p>
<p>
    This Application has three(3) controllers, six(6) views with a shared layout, and five(5) models.
    In addition, there are models that have constructors.
</p>
